* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #F9F9F9;
    color: #222;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    background-color: white;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #57b65f;
}

.navbar nav a {
    margin-right: 30px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.help-btn {
    background: #57b65f;
    border: none;
    padding: 10px 18px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.hero-left {
    width: 45%;
}

.hero-left h1 {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hero-left p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}

.download-buttons {
    display: flex;
    gap: 15px;
}

.download-btn {
    background: #000;
    color: #fff;
    padding: 14px 28px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.hero-right img {
    width: 420px;
}

/* DOWNLOAD BAR */
.download-bar {
    background: #57b65f;
    margin: 30px 80px;
    padding: 50px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.download-bar p {
    color: white;
    font-size: 16px;
    width: 30%;
}

.download-bar input {
    flex: 1;
    padding: 14px;
    border-radius: 6px;
    border: none;
}

.download-bar button {
    background: #000;
    color: white;
    border: none;
    padding: 14px 22px;
    border-radius: 6px;
    cursor: pointer;
}

/* HOW TERE WORKS */
.how-tere-works {
    text-align: center;
    padding: 80px 80px 40px;
}

.how-tere-works h2 {
    font-size: 30px;
}

.how-tere-works h2 span {
    color: #57b65f;
}

.subtitle {
    color: #777;
    max-width: 600px;
    margin: 20px auto 60px;
    line-height: 1.6;
}

.steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
}

.step {
    text-align: center;
}

.circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #57b65f;
    color: white;
    border-radius: 50%;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.step h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.step p {
    font-size: 13px;
    color: #666;
    line-height: 1.5;
}

.center-circle {
    width: 300px;
    height: 300px;
    background: #57b65f;
    border-radius: 50%;
    margin: auto;
}

/* BENEFITS */
.benefits {
    text-align: center;
    padding: 40px;
}

.benefits h2 {
    font-size: 26px;
}

.benefits span {
    color: #57b65f;
}
/* TERE BENEFITS */
.tere-benefits {
    padding: 80px;
}

/* BENEFITS SECTION */
.benefits-wrapper {
    padding: 60px 80px;
    
}

.benefit-row {
    background: white;
    border-radius: 12px;
    padding: 35px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.benefit-row.reverse {
    flex-direction: row-reverse;
}

.benefit-content {
    max-width: 50%;
}

.benefit-content h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.benefit-content h3 span {
    color: #57b65f;
    font-size: 50px;
    margin-right: 10px;
}

.benefit-content p {
    font-size: 14px;
    color: #777;
    line-height: 1.6;
    max-width: 420px;
}

.benefit-image img {
    width: 240px;
}

/* FOOTER */
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
    border-top: 1px white;
}

.footer-col h2 {
    color: #57b65f;
    font-size: 30px;
}

.footer-col h4 {
    font-size: 14px;
    margin-bottom: 8px;
}

.footer-col p {
    font-size: 13px;
    color: #666;
    margin-bottom: 6px;
}

.footer-col.downloads {
    display: flex;
    gap: 12px;
}

.footer-col.downloads button {
    background: #000;
    color: #fff;
    border: none;
    padding: 12px 22px;
    border-radius: 6px;
    cursor: pointer;
}

/* COPYRIGHT */
.footer-copy {
    text-align: center;
    font-size: 12px;
    color: #57b65f;
    margin: 20px 0;
}